In [1]:
import os

import pandas as pd
import geopandas as gpd
import numpy as np
from shapely.geometry import LineString

In [2]:
os.chdir(r'C:\Users\BEIJING-c025\OneDrive\Materials\GIS\practice\practice_1')

In [3]:
crs_init='epsg:4326'
crs_out='epsg:26718'

In [4]:
df=pd.read_csv(r'202011-citibike-tripdata.csv')
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,521,2020-11-01 00:00:07.0150,2020-11-01 00:08:48.3010,3467,W Broadway & Spring St,40.724947,-74.001659,350,Clinton St & Grand St,40.715595,-73.987030,40405,Subscriber,1989,1
1,492,2020-11-01 00:00:10.8080,2020-11-01 00:08:23.3170,3557,40 Ave & 9 St,40.757420,-73.945133,3557,40 Ave & 9 St,40.757420,-73.945133,46504,Subscriber,1970,2
2,1979,2020-11-01 00:00:14.7040,2020-11-01 00:33:14.1640,3085,Roebling St & N 4 St,40.714690,-73.957390,3854,Morgan Ave & Maspeth Ave,40.716657,-73.936370,37452,Subscriber,1989,2
3,2382,2020-11-01 00:00:14.7070,2020-11-01 00:39:57.0030,3783,Cliff St & Fulton St,40.708380,-74.004950,3167,Amsterdam Ave & W 73 St,40.779668,-73.980930,40417,Subscriber,1981,1
4,166,2020-11-01 00:00:15.9690,2020-11-01 00:03:02.8980,422,W 59 St & 10 Ave,40.770513,-73.988038,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,35776,Subscriber,1990,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1736699,257,2020-11-30 23:58:44.6840,2020-12-01 00:03:01.9470,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,421,Clermont Ave & Park Ave,40.695734,-73.971297,49932,Subscriber,1992,1
1736700,617,2020-11-30 23:58:45.6210,2020-12-01 00:09:02.8300,439,E 4 St & 2 Ave,40.726281,-73.989780,3709,W 15 St & 6 Ave,40.738046,-73.996430,38817,Customer,1969,0
1736701,116,2020-11-30 23:58:45.7200,2020-12-01 00:00:41.9570,3616,Steinway St & 28 Ave,40.765625,-73.913669,3600,31 Ave & Steinway St,40.761149,-73.917007,32874,Subscriber,1980,1
1736702,409,2020-11-30 23:59:20.1480,2020-12-01 00:06:09.7540,3521,Lenox Ave & W 111 St,40.798786,-73.952300,3325,E 95 St & 3 Ave,40.784903,-73.950503,36675,Customer,2001,1
1736703,301,2020-11-30 23:59:47.9750,2020-12-01 00:04:49.2260,241,DeKalb Ave & S Portland Ave,40.689810,-73.974931,274,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,27784,Subscriber,1948,1

In [5]:
cols=df.columns.tolist()
cols

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender']

In [6]:
start_cols=['start station latitude','start station longitude']
end_cols=['end station latitude','end station longitude']

In [7]:
attr_cols=[i for i in cols if ((i in start_cols)==False)&((i in end_cols)==False)]
attr_cols

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'end station id',
 'end station name',
 'bikeid',
 'usertype',
 'birth year',
 'gender']

In [8]:
df_attr=df[attr_cols]
df_attr

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,usertype,birth year,gender
0,521,2020-11-01 00:00:07.0150,2020-11-01 00:08:48.3010,3467,W Broadway & Spring St,350,Clinton St & Grand St,40405,Subscriber,1989,1
1,492,2020-11-01 00:00:10.8080,2020-11-01 00:08:23.3170,3557,40 Ave & 9 St,3557,40 Ave & 9 St,46504,Subscriber,1970,2
2,1979,2020-11-01 00:00:14.7040,2020-11-01 00:33:14.1640,3085,Roebling St & N 4 St,3854,Morgan Ave & Maspeth Ave,37452,Subscriber,1989,2
3,2382,2020-11-01 00:00:14.7070,2020-11-01 00:39:57.0030,3783,Cliff St & Fulton St,3167,Amsterdam Ave & W 73 St,40417,Subscriber,1981,1
4,166,2020-11-01 00:00:15.9690,2020-11-01 00:03:02.8980,422,W 59 St & 10 Ave,3175,W 70 St & Amsterdam Ave,35776,Subscriber,1990,1
...,...,...,...,...,...,...,...,...,...,...,...
1736699,257,2020-11-30 23:58:44.6840,2020-12-01 00:03:01.9470,324,DeKalb Ave & Hudson Ave,421,Clermont Ave & Park Ave,49932,Subscriber,1992,1
1736700,617,2020-11-30 23:58:45.6210,2020-12-01 00:09:02.8300,439,E 4 St & 2 Ave,3709,W 15 St & 6 Ave,38817,Customer,1969,0
1736701,116,2020-11-30 23:58:45.7200,2020-12-01 00:00:41.9570,3616,Steinway St & 28 Ave,3600,31 Ave & Steinway St,32874,Subscriber,1980,1
1736702,409,2020-11-30 23:59:20.1480,2020-12-01 00:06:09.7540,3521,Lenox Ave & W 111 St,3325,E 95 St & 3 Ave,36675,Customer,2001,1
1736703,301,2020-11-30 23:59:47.9750,2020-12-01 00:04:49.2260,241,DeKalb Ave & S Portland Ave,274,Lafayette Ave & Fort Greene Pl,27784,Subscriber,1948,1

In [9]:
df_start=df[start_cols]
df_start

         start station latitude  start station longitude
0                     40.724947               -74.001659
1                     40.757420               -73.945133
2                     40.714690               -73.957390
3                     40.708380               -74.004950
4                     40.770513               -73.988038
...                         ...                      ...
1736699               40.689888               -73.981013
1736700               40.726281               -73.989780
1736701               40.765625               -73.913669
1736702               40.798786               -73.952300
1736703               40.689810               -73.974931

[1736704 rows x 2 columns]

In [10]:
df_end=df[end_cols]
df_end

         end station latitude  end station longitude
0                   40.715595             -73.987030
1                   40.757420             -73.945133
2                   40.716657             -73.936370
3                   40.779668             -73.980930
4                   40.777480             -73.982886
...                       ...                    ...
1736699             40.695734             -73.971297
1736700             40.738046             -73.996430
1736701             40.761149             -73.917007
1736702             40.784903             -73.950503
1736703             40.686919             -73.976682

[1736704 rows x 2 columns]

In [11]:
startPoints=gpd.points_from_xy(df_start['start station longitude'],df_start['start station latitude'])
startPoints

<GeometryArray>
[<shapely.geometry.point.Point object at 0x0000026C9728ADF0>,
 <shapely.geometry.point.Point object at 0x0000026C9728A9A0>,
 <shapely.geometry.point.Point object at 0x0000026C9728AB80>,
 <shapely.geometry.point.Point object at 0x0000026C9728A850>,
 <shapely.geometry.point.Point object at 0x0000026C9728ACA0>,
 <shapely.geometry.point.Point object at 0x0000026C9728AA00>,
 <shapely.geometry.point.Point object at 0x0000026C9728A520>,
 <shapely.geometry.point.Point object at 0x0000026C9728A700>,
 <shapely.geometry.point.Point object at 0x0000026C9728AD30>,
 <shapely.geometry.point.Point object at 0x0000026C9728A5B0>,
 ...
 <shapely.geometry.point.Point object at 0x0000026CE0EA20D0>,
 <shapely.geometry.point.Point object at 0x0000026CE0EA2130>,
 <shapely.geometry.point.Point object at 0x0000026CE0EA2190>,
 <shapely.geometry.point.Point object at 0x0000026CE0EA21F0>,
 <shapely.geometry.point.Point object at 0x0000026CE0EA2250>,
 <shapely.geometry.point.Point object at 0x0000026CE0EA22B0>,
 <shapely.geometry.point.Point object at 0x0000026CE0EA2310>,
 <shapely.geometry.point.Point object at 0x0000026CE0EA2370>,
 <shapely.geometry.point.Point object at 0x0000026CE0EA23D0>,
 <shapely.geometry.point.Point object at 0x0000026CE0EA2430>]
Length: 1736704, dtype: geometry

In [12]:
gdf_start=gpd.GeoDataFrame(df_start,geometry=startPoints,crs=crs_init)
gdf_start

,start station latitude,start station longitude,geometry
0,40.724947,-74.001659,POINT (-74.00166 40.72495)
1,40.757420,-73.945133,POINT (-73.94513 40.75742)
2,40.714690,-73.957390,POINT (-73.95739 40.71469)
3,40.708380,-74.004950,POINT (-74.00495 40.70838)
4,40.770513,-73.988038,POINT (-73.98804 40.77051)
...,...,...,...
1736699,40.689888,-73.981013,POINT (-73.98101 40.68989)
1736700,40.726281,-73.989780,POINT (-73.98978 40.72628)
1736701,40.765625,-73.913669,POINT (-73.91367 40.76563)
1736702,40.798786,-73.952300,POINT (-73.95230 40.79879)
1736703,40.689810,-73.974931,POINT (-73.97493 40.68981)

In [13]:
endPoints=gpd.points_from_xy(df_end['end station longitude'],df_end['end station latitude'])
endPoints

<GeometryArray>
[<shapely.geometry.point.Point object at 0x0000026CE0EA2F70>,
 <shapely.geometry.point.Point object at 0x0000026CE0EA2A30>,
 <shapely.geometry.point.Point object at 0x0000026CE0EA2A60>,
 <shapely.geometry.point.Point object at 0x0000026CE0EA26D0>,
 <shapely.geometry.point.Point object at 0x0000026CE0EA2B80>,
 <shapely.geometry.point.Point object at 0x0000026CE0EA2C70>,
 <shapely.geometry.point.Point object at 0x0000026CE0EA2E80>,
 <shapely.geometry.point.Point object at 0x0000026C96997670>,
 <shapely.geometry.point.Point object at 0x0000026CE0EA2CD0>,
 <shapely.geometry.point.Point object at 0x0000026CE0EA2E20>,
 ...
 <shapely.geometry.point.Point object at 0x0000026CFDD11430>,
 <shapely.geometry.point.Point object at 0x0000026CFDD11490>,
 <shapely.geometry.point.Point object at 0x0000026CFDD114F0>,
 <shapely.geometry.point.Point object at 0x0000026CFDD11550>,
 <shapely.geometry.point.Point object at 0x0000026CFDD115B0>,
 <shapely.geometry.point.Point object at 0x0000026CFDD11610>,
 <shapely.geometry.point.Point object at 0x0000026CFDD11670>,
 <shapely.geometry.point.Point object at 0x0000026CFDD116D0>,
 <shapely.geometry.point.Point object at 0x0000026CFDD11730>,
 <shapely.geometry.point.Point object at 0x0000026CFDD11790>]
Length: 1736704, dtype: geometry

In [14]:
gdf_end=gpd.GeoDataFrame(df_end,geometry=endPoints,crs=crs_init)
gdf_end

,end station latitude,end station longitude,geometry
0,40.715595,-73.987030,POINT (-73.98703 40.71560)
1,40.757420,-73.945133,POINT (-73.94513 40.75742)
2,40.716657,-73.936370,POINT (-73.93637 40.71666)
3,40.779668,-73.980930,POINT (-73.98093 40.77967)
4,40.777480,-73.982886,POINT (-73.98289 40.77748)
...,...,...,...
1736699,40.695734,-73.971297,POINT (-73.97130 40.69573)
1736700,40.738046,-73.996430,POINT (-73.99643 40.73805)
1736701,40.761149,-73.917007,POINT (-73.91701 40.76115)
1736702,40.784903,-73.950503,POINT (-73.95050 40.78490)
1736703,40.686919,-73.976682,POINT (-73.97668 40.68692)

In [16]:
N=df.shape[0]
lines=[LineString([gdf_start.geometry[i],gdf_end.geometry[i]]) for i in range(0,N)]
lines[0:10]

[<shapely.geometry.linestring.LineString at 0x26cfdd11f70>,
 <shapely.geometry.linestring.LineString at 0x26d132ae730>,
 <shapely.geometry.linestring.LineString at 0x26cfdd15850>,
 <shapely.geometry.linestring.LineString at 0x26d132ae040>,
 <shapely.geometry.linestring.LineString at 0x26d132aea00>,
 <shapely.geometry.linestring.LineString at 0x26d131cfeb0>,
 <shapely.geometry.linestring.LineString at 0x26c940854f0>,
 <shapely.geometry.linestring.LineString at 0x26c9407eca0>,
 <shapely.geometry.linestring.LineString at 0x26d132ae490>,
 <shapely.geometry.linestring.LineString at 0x26d132ae4f0>]

In [17]:
df_tripline=pd.merge(df_start[start_cols],df_end[end_cols],left_index=True,right_index=True)
df_tripline

,start station latitude,start station longitude,end station latitude,end station longitude
0,40.724947,-74.001659,40.715595,-73.987030
1,40.757420,-73.945133,40.757420,-73.945133
2,40.714690,-73.957390,40.716657,-73.936370
3,40.708380,-74.004950,40.779668,-73.980930
4,40.770513,-73.988038,40.777480,-73.982886
...,...,...,...,...
1736699,40.689888,-73.981013,40.695734,-73.971297
1736700,40.726281,-73.989780,40.738046,-73.996430
1736701,40.765625,-73.913669,40.761149,-73.917007
1736702,40.798786,-73.952300,40.784903,-73.950503
1736703,40.689810,-73.974931,40.686919,-73.976682

In [18]:
gdf_tripline=gpd.GeoDataFrame(df_tripline,geometry=gpd.GeoSeries(lines),crs=crs_init)
gdf_tripline

,start station latitude,start station longitude,end station latitude,end station longitude,geometry
0,40.724947,-74.001659,40.715595,-73.987030,"LINESTRING (-74.00166 40.72495, -73.98703 40.7..."
1,40.757420,-73.945133,40.757420,-73.945133,"LINESTRING (-73.94513 40.75742, -73.94513 40.7..."
2,40.714690,-73.957390,40.716657,-73.936370,"LINESTRING (-73.95739 40.71469, -73.93637 40.7..."
3,40.708380,-74.004950,40.779668,-73.980930,"LINESTRING (-74.00495 40.70838, -73.98093 40.7..."
4,40.770513,-73.988038,40.777480,-73.982886,"LINESTRING (-73.98804 40.77051, -73.98289 40.7..."
...,...,...,...,...,...
1736699,40.689888,-73.981013,40.695734,-73.971297,"LINESTRING (-73.98101 40.68989, -73.97130 40.6..."
1736700,40.726281,-73.989780,40.738046,-73.996430,"LINESTRING (-73.98978 40.72628, -73.99643 40.7..."
1736701,40.765625,-73.913669,40.761149,-73.917007,"LINESTRING (-73.91367 40.76563, -73.91701 40.7..."
1736702,40.798786,-73.952300,40.784903,-73.950503,"LINESTRING (-73.95230 40.79879, -73.95050 40.7..."
1736703,40.689810,-73.974931,40.686919,-73.976682,"LINESTRING (-73.97493 40.68981, -73.97668 40.6..."

In [19]:
gdf_tripline.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [20]:
gdf_tripline=gdf_tripline.to_crs(crs_out)
gdf_tripline.crs

<Projected CRS: EPSG:26718>
Name: NAD27 / UTM zone 18N
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: North America - 78Â°W to 72Â°W and NAD27 by country
- bounds: (-78.0, 18.83, -72.0, 83.16)
Coordinate Operation:
- name: UTM zone 18N
- method: Transverse Mercator
Datum: North American Datum 1927
- Ellipsoid: Clarke 1866
- Prime Meridian: Greenwich

In [21]:
gdf_tripline['linedistance']=gdf_tripline['geometry'].length
gdf_tripline

,start station latitude,start station longitude,end station latitude,end station longitude,geometry,linedistance
0,40.724947,-74.001659,40.715595,-73.987030,"LINESTRING (584280.186 4508488.782, 585527.585...",1613.812613
1,40.757420,-73.945133,40.757420,-73.945133,"LINESTRING (589010.493 4512149.283, 589010.493...",0.000000
2,40.714690,-73.957390,40.716657,-73.936370,"LINESTRING (588032.194 4507393.715, 589804.972...",1788.902190
3,40.708380,-74.004950,40.779668,-73.980930,"LINESTRING (584023.046 4506646.664, 585960.177...",8169.527370
4,40.770513,-73.988038,40.777480,-73.982886,"LINESTRING (585372.153 4513560.001, 585797.986...",887.310731
...,...,...,...,...,...,...
1736699,40.689888,-73.981013,40.695734,-73.971297,"LINESTRING (586068.836 4504617.187, 586882.219...",1046.519459
1736700,40.726281,-73.989780,40.738046,-73.996430,"LINESTRING (585281.598 4508648.336, 584705.162...",1421.670818
1736701,40.765625,-73.913669,40.761149,-73.917007,"LINESTRING (591655.040 4513092.502, 591379.479...",571.233538
1736702,40.798786,-73.952300,40.784903,-73.950503,"LINESTRING (588350.706 4516733.852, 588520.732...",1548.600794
1736703,40.689810,-73.974931,40.686919,-73.976682,"LINESTRING (586582.816 4504614.547, 586438.619...",353.462388

In [22]:
gdf_biketrip=pd.merge(gdf_tripline,df_attr,left_index=True,right_index=True)
gdf_biketrip

,start station latitude,start station longitude,end station latitude,end station longitude,geometry,linedistance,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,bikeid,usertype,birth year,gender
0,40.724947,-74.001659,40.715595,-73.987030,"LINESTRING (584280.186 4508488.782, 585527.585...",1613.812613,521,2020-11-01 00:00:07.0150,2020-11-01 00:08:48.3010,3467,W Broadway & Spring St,350,Clinton St & Grand St,40405,Subscriber,1989,1
1,40.757420,-73.945133,40.757420,-73.945133,"LINESTRING (589010.493 4512149.283, 589010.493...",0.000000,492,2020-11-01 00:00:10.8080,2020-11-01 00:08:23.3170,3557,40 Ave & 9 St,3557,40 Ave & 9 St,46504,Subscriber,1970,2
2,40.714690,-73.957390,40.716657,-73.936370,"LINESTRING (588032.194 4507393.715, 589804.972...",1788.902190,1979,2020-11-01 00:00:14.7040,2020-11-01 00:33:14.1640,3085,Roebling St & N 4 St,3854,Morgan Ave & Maspeth Ave,37452,Subscriber,1989,2
3,40.708380,-74.004950,40.779668,-73.980930,"LINESTRING (584023.046 4506646.664, 585960.177...",8169.527370,2382,2020-11-01 00:00:14.7070,2020-11-01 00:39:57.0030,3783,Cliff St & Fulton St,3167,Amsterdam Ave & W 73 St,40417,Subscriber,1981,1
4,40.770513,-73.988038,40.777480,-73.982886,"LINESTRING (585372.153 4513560.001, 585797.986...",887.310731,166,2020-11-01 00:00:15.9690,2020-11-01 00:03:02.8980,422,W 59 St & 10 Ave,3175,W 70 St & Amsterdam Ave,35776,Subscriber,1990,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1736699,40.689888,-73.981013,40.695734,-73.971297,"LINESTRING (586068.836 4504617.187, 586882.219...",1046.519459,257,2020-11-30 23:58:44.6840,2020-12-01 00:03:01.9470,324,DeKalb Ave & Hudson Ave,421,Clermont Ave & Park Ave,49932,Subscriber,1992,1
1736700,40.726281,-73.989780,40.738046,-73.996430,"LINESTRING (585281.598 4508648.336, 584705.162...",1421.670818,617,2020-11-30 23:58:45.6210,2020-12-01 00:09:02.8300,439,E 4 St & 2 Ave,3709,W 15 St & 6 Ave,38817,Customer,1969,0
1736701,40.765625,-73.913669,40.761149,-73.917007,"LINESTRING (591655.040 4513092.502, 591379.479...",571.233538,116,2020-11-30 23:58:45.7200,2020-12-01 00:00:41.9570,3616,Steinway St & 28 Ave,3600,31 Ave & Steinway St,32874,Subscriber,1980,1
1736702,40.798786,-73.952300,40.784903,-73.950503,"LINESTRING (588350.706 4516733.852, 588520.732...",1548.600794,409,2020-11-30 23:59:20.1480,2020-12-01 00:06:09.7540,3521,Lenox Ave & W 111 St,3325,E 95 St & 3 Ave,36675,Customer,2001,1
1736703,40.689810,-73.974931,40.686919,-73.976682,"LINESTRING (586582.816 4504614.547, 586438.619...",353.462388,301,2020-11-30 23:59:47.9750,2020-12-01 00:04:49.2260,241,DeKalb Ave & S Portland Ave,274,Lafayette Ave & Fort Greene Pl,27784,Subscriber,1948,1

In [23]:
gdf_biketrip.rename(columns={"tripduration":"duration",
                            "start station id":"startid", 
                            "start station name":"startname",
                            "start station latitude":"start_lat",
                            "start station longitude":"start_lon",
                            "end station id":"endid",
                            "end station name":"endname",
                            "end station latitude":"end_lat",
                            "end station longitude":"end_lon",
                            "birth year":"birthyear",
                            "linedistance":"linedist"},inplace=True)

assert np.all(gdf_biketrip.columns.str.len() <= 10), \
"Column names will be truncated when saving as shapefile!"

In [ ]:
os.makedirs('output')
gdf_biketrip.to_file(os.path.join('output','biketrip.shp'))